* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 15px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 15px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 15px;
}

#custom-updates,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    color: #1e1e2e;
    padding: 0px 15px;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}

#tray {
    background: #1e1e2e;
    border-radius: 15px;
    margin-right: 10px;
}

#workspaces {
    color: #cdd6f4;
    background: #1e1e2e;
    border-radius: 15px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-updates {
    background: #f5c2e7;
}

#window {
    color: #cdd6f4;
    background: #1e1e2e;
    border-radius: 15px;
    margin-left: 60px;
    margin-right: 60px;
}

window#waybar.empty #window {
    background: transparent;
    border: 0px;
}

#clock {
    background: #f9e2af;
}

#network {
    background: #fab387;
}

#pulseaudio {
    background: #89b4fa;
}

#battery {
    background: #a6e3a1;
    margin-right: 10px;
}

#backlight {
    background: #cba6f7;
}
